@(userJson: Option[String])(implicit flash: Flash, session: Session)

@loginButton(provider: String) = {
<a href="/authenticate/@provider" class="button" data-tooltip title="Login with @provider.capitalize">
  <i class="fa fa-@provider"></i>
  @provider.capitalize
</a>
}

@main("play-simple-auth example") {

  <div class="row">
    <div class="large-12 columns">
      @if(session.isEmpty) {
        <h1>play-simple-auth <small>example</small></h1>
        @if(flash.get("loggedOut").isDefined) {
          <div data-alert class="alert-box success">
            You have been logged out.
            <a href="#" class="close">&times;</a>
          </div>
        }
        <div class="alert-box secondary">
          <p>This is an example of a web application utilizing
            <a href="http://github.com/Pyppe/play-simple-auth">play-simple-auth</a> library.</p>
          <p>You may use any of the links below to sign in:</p>
          <div id="loginOptions">
            @loginButton("facebook")
            @loginButton("github")
            @loginButton("google")
            @loginButton("linkedin")
            @loginButton("twitter")
          </div>
        </div>
      } else {
      <h1>Welcome,
        @session.get("user.image").map { image =>
        <img class="avatar" src="@image" />
        }
        <small>@session("user.name")</small>
      </h1>
      <p>You are logged in. Cool!</p>
      <a href="/logout" class="button alert"><i class="fa fa-sign-out"></i> Logout</a>

      @userJson.map { userJson =>
        <h2>Received user JSON</h2>
        <pre><code class="json">@userJson</code></pre>
      }

      }
    </div>
  </div>

}
